<h1>Lista de productos</h1>
<ul>
  {{#each products}}
  <li>
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    <a href="/products/{{this._id}}">Ver detalles</a>
  </li>
  {{/each}}
</ul>

<div>
  {{#if hasPrevPage}}
  <a href="{{prevLink}}">Anterior</a>
  {{/if}}
  <span>Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
  <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>

<script>
  function addToCart(productId) {
    // Lógica para agregar el producto al carrito
    fetch(`/api/carts/cartId/products/${productId}`, {
      method: 'PUT', // O POST dependiendo de la lógica de tu proyecto
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ quantity: 1 }) // Puedes ajustar la cantidad
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        alert('Producto agregado al carrito');
      } else {
        alert('Error al agregar el producto al carrito');
      }
    });
  }
</script>
